name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  version:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    outputs:
      new_version: ${{ env.new_version }}
    steps:
      - uses: actions/checkout@v4

      - name: Increment version
        uses: saleweaver/version_increment_action@v1
        with:
          file_path: "lib/sdk/package.json"
          version_key: "version"

  publish-sdk:
    needs: version
    if: needs.version.outputs.new_version != ''
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - uses: actions/checkout@v4
        with:
          ref: main

      - uses: pnpm/action-setup@v4
        with:
          version: 9

      - uses: actions/setup-node@v4
        with:
          node-version: "20"
          registry-url: "https://npm.pkg.github.com"
          scope: "@boswaves-inc"
          cache: "pnpm"

      - run: pnpm install --frozen-lockfile
      - run: pnpm --filter ./libs/sdk build
      - run: pnpm --filter ./lib/sdk publish --no-git-checks
        env:
          NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  # publish-proc:
  #     runs-on: ubuntu-latest
  #     permissions:
  #         contents: read
  #         packages: write

  #     steps:
  #         - uses: actions/checkout@v4

  #         - name: Log in to GitHub Container Registry
  #           uses: docker/login-action@v3
  #           with:
  #               registry: ghcr.io
  #               username: ${{ github.actor }}
  #               password: ${{ secrets.GITHUB_TOKEN }}

  #         - name: Build and push Docker image
  #           uses: docker/build-push-action@v5
  #           with:
  #               context: ./proc
  #               push: true
  #               tags: |
  #                   ghcr.io/${{ github.repository_owner }}/proc:${{ github.ref_name }}
  #                   ghcr.io/${{ github.repository_owner }}/proc:latest
